fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
bcrypt==3.2.0
pydantic
python-multipart
python-dotenv
python-magic
pytesseract
easyocr
pillow
python-docx
docxtpl
docx2pdf
passlib
bcrypt==3.2.0
python-jose[cryptography]
playwright
apscheduler
httpx
email-validator
pandas
openpyxl
